name: Build and Lint

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y clang-format-18

      - name: Check format
        run: |
          find . -type f \( -name "*.c" -o -name "*.h" \) ! -path "./build/*" ! -path "*/build/*" | xargs clang-format-18 --style=file --dry-run -Werror
